@value oblue: #0c77f8;
@value ored: #ff0000;

@mixin color($color) {
  color: $color;
}
.mixin2 {
  @include color(blue);
}

.title {
  @include color(oblue);
  background-color: ored;
  position: absolute;
  right: 0;
  top: 0;
  width: 20vh;
  height: 100vh;
}
